# Enable URL rewriting
RewriteEngine On

# If the requested filename is not a directory
RewriteCond %{REQUEST_FILENAME} !-d

# If the requested filename is not a file
RewriteCond %{REQUEST_FILENAME} !-f

# Rewrite URLs ending with nothing (e.g., /about) to /about/index.html
RewriteRule ^(.+)/$ $1/index.html [L]

# Rewrite the root URL to index.html
DirectoryIndex index.html
